body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 20px;
}
.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.section {
    margin-bottom: 20px;
}
h1, h2 {
    color: #002f6c;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
    border-bottom: 2px solid #002f6c;
    padding-bottom: 5px;
}
.details p {
    margin: 5px 0;
}
.skills {
    display: flex;
    justify-content: space-between;
}
.skills ul {
    list-style: none;
    padding: 0;
}
.skills ul li {
    margin: 5px 0;
}
.profile-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #002f6c, #004aad);
    color: white;
    padding: 20px;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.profile-image img {
    width: 120px;
    height: 120px;
    
    margin-right: 20px;
}
.profile-info {
    flex: 1;
}
.profile-info h1 {
    margin: 0;
    font-size: 24px;
}
.profile-info p {
    margin: 5px 0;
}
.profile-details {
    display: flex;
    gap: 300px;
    margin-top: 10px;
    font-size: 20px;
}